/*police du site*/
body{
    font-family: 'Handlee', cursive;
    font-size: 150%;
}
/*taille police des liens de la barre de navigation*/
body nav ul a{
     font-size: 120%;
}
/*taille et couleur police des liens du dropdown de la barre de navigation*/
body nav ul a:hover{
    font-size: 120%;
    background-color: #F57C00;
}
/*position du titre du site dans le header*/
#titleSite{
    font-size: 230%;
    font-style: italic;
    font-weight: bold;
    margin-top: -0.2em;
    padding-top: 0.2em;
}
/*position du header*/
.header{
    padding-bottom: 0.1%; 
}
/*dimensions du logo dans le header*/
#headerLogo{
    width: 14%;
    height: 14%;
}
/*dimensions et position du logo dans la barre de navigation*/
#logoNavbar{
    width: 1.7em;
    height: 1.9em;
    padding: 0.1em;
    margin-left: 0.2em;
    margin-top: 0.07em;
    padding-right: 0.2em;
    padding-bottom: 0.3em;
    background-color: rgba(255,255,255,0.4);
    border-radius: 20px 20px 20px 20px;
}
/*définition de la position de la barre de navigation lorsqu'elle est fixe*/
nav.fixed{
    position: fixed;
    top: 0;
    z-index: 1000;
}
/*texte en gras*/
.boldText{
    font-weight: bold;
}
/*background des champs de texte*/
.bgText{
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px 10px 10px 10px;
}
/*position du message d'erreur 404*/
#textError404{
    padding-top: 3%;
}
#textPageNotFound{
    padding-bottom: 2%;
}
/*position du formulaire d'inscription utilisateur*/
#registerForm, #updateForm{
    padding-left: 7%;
    padding-right: 7%;
}
