/*texte en gras*/
.boldText{
    font-weight: bold;
}
/*taille des images des cards page placesToSee & visitedPlaces*/
.imgSize{
    min-height: 16em;
    max-height: 16em;
}
/*------------------------------------------------------------Page header---------------------------------------------------------*/
/*police du site*/
body{
    font-family: 'Handlee', cursive;
    font-size: 150%;
}
/*taille police des liens de la barre de navigation*/
body nav ul a{
    font-size: 120%;
}
/*taille et couleur police des liens du dropdown de la barre de navigation*/
body nav ul a:hover{
    min-width: 250px;
    font-size: 100%;
    background-color: #F57C00;
}
/*position du titre du site dans le header*/
#titleSite{
    font-size: 230%;
    font-style: italic;
    font-weight: bold;
    margin-top: -0.2em;
    padding-top: 0.2em;
}
/*position du header*/
.header{
    padding-bottom: 0.1%;
}
/*dimensions du logo dans le header*/
#headerLogo{
    width: 14%;
    height: 14%;
}
/*dimensions et position du logo dans la barre de navigation*/
#logoNavbar{
    width: 3em;
    height: 3.2em;
    margin-top: -0.6em;
    padding-bottom: 0.2em;
}
/*définition de la position de la barre de navigation lorsqu'elle est fixe*/
nav.fixed{
    position: fixed;
    top: 0;
    z-index: 1000;
}
/*---------------------------------------------------------Page registerUser-----------------------------------------------------*/
/*style du titre des cards pour le choix du type d'utilisateur*/
.cardTitle{
    font-weight: bold;
    font-size: 140%;
    padding-bottom: 2%;
}
/*---------------------------------------------------Page placesList & getAPlace-----------------------------------------------*/
/*taille et position de la catégorie du lieu*/
.categoryText{
    font-size: 80%;
    margin-top: -2%;
}
/*----------------------------------------------------------Page getAPlace-------------------------------------------------------*/
/*position de l'image du lieu dans la card*/
#placeImgCard{
    margin-top: 2%;
}
/*taille de la police des sections contact, horaires, tarifs*/
.sectionTitle {
    font-size: 150%;
}
/*position des icones pour l'ajout aux lieux à voir et lieux visités*/
.iconPlaceForUser{
    margin-top : -8%;
}
/*icones pour ajouter un lieu à voir ou un lieu visité*/
.blackIcon{
    color: black;
}
/*icones pour ajouter un lieu à voir ou un lieu visité quand ajout validé*/
.greenIcon{
    color: #9E9D24;
}
/*tableau des horaires et des tarifs'*/
table.centered thead tr th, table.centered tbody tr td{
    border: solid black 1px;
}
/*position des formulaires pour les horaires et les tarifs*/
#timetableForm,#priceForm{
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1%;
}
/*couleur de fond des formulaires horaires et tarifs*/
.bgForm{
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2%;
}
/*marge sous le bouton submit des formulaires d'ajout d'horaires et de tarifs*/
#addTimetablesSubmit,#addPricesSubmit{
    margin-bottom: 1%;
}
/*police de la petite ligne en bas de page*/
#responsability{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 80%;
}
/*----------------------------------------------------------Page PlaceList-------------------------------------------------------*/
/*couleur de fond du formulaire de recherche de lieux*/
#bgSearchForm{
    background-color: #E6EE9C;
}
/*position du nom du lieu*/
.placesName {
    margin-bottom: -0.1%;
}
/*---------------------------------------------------------------Page index-------------------------------------------------------*/
#indexSection{
    border-radius: 15px 15px 15px 15px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 1%;
}
#visitorSection{
    background-color: rgba(255,255,255,0.6);
    padding-top: 0.5%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 3%;
    border-radius: 20px 20px 20px 20px;
}
#contributorSection{
    background-color: rgba(255,255,255,0.6);
    padding-top: 0.5%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 3%;
    border-radius: 20px 20px 20px 20px;
}
#placesSection{
    background-color: rgba(255,255,255,0.6);
    padding-top: 0.5%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 3%;
    border-radius: 20px 20px 20px 20px;
}
.underlineSize{
    text-decoration: underline;
    font-size: 140%;
}